@font-face {
  font-family: 'Prompt';
  src: local('Prompt'), url(./font/Prompt-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Prompt';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  margin: 10px;
}

span {
  color: #0000008a;
}
